{{!-- <form id="newDishForm">
  <label for="dish_name">Dish Name:</label>
  <input type="text" id="dish_name" name="dish_name" value="{{dish_name}}" />
  <label for="price">Price:</label>
  <input type="number" id="price" name="price" value="{{price}}" />
  {{!-- <label for="userId">userId:</label>
  <input type="number" id="userId" name="userId" value="{{userId}}" /><br /><br
  /><br /><br /> --}}
{{!-- <label for="description">Description:</label>
  <textarea id="description" name="description">{{description}}</textarea><br
  /><br />
  <button type="submit" id="newDishBtn">Create Post</button>
</form> --}}